html{
    
    height:100%;
    width:100%;
        background:-webkit-radial-gradient(circle, #fcee92 0%, #ebcf12 100%);
            z-index: -1;

}



 .thermometer {
    width:15px;
    height:80px;
    left:5px;
    display:block;
    font:bold 14px/152px helvetica, arial, sans-serif;
    text-indent: 36px;
    background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #db3f02 50%, #db3f02 100%);
    border-radius:22px 22px 0 0;
    border:5px solid #4a1c03;
    border-bottom:none;
    position:absolute;
    box-shadow:inset 0 0 0 4px #fff;
    color:#4a1c03;
    z-index: 1;
}
/* Thermometer Bulb */
 .thermometer:before {
    content:' ';
    width:25px;
    height:25px;
    display:block;
    position:absolute;
    top:70px;
    left:-10px;
    z-index: 0;

    /* Place the bulb under the column */
    background:#db3f02;
    border-radius:44px;
    border:5px solid #4a1c03;
    box-shadow:inset 0 0 0 4px #fff;
}
